{% load staticfiles %}
<section class="menu-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-7 text-center heading-section">
                <span class="heading">Our Master Chef</span>
            </div>
        </div>
        <div class="container px-4">
            <div class="row">
                <div class="col-md-4 col-lg-3">
                    <div class="card" style="width: 16rem;">
                        <img alt="" class="card-img-chef" src="{% static 'images/chef-1.jpg' %}">
                        <div class="card-body">
                            <h3>Shrivis</h3>
                            <span class="position mb-2">Restaurant Owner</span>
                            <p>I donno, I'll think about it in the end till then read something better folks. peace out!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <div class="card" style="width: 16rem;">
                        <img alt="" class="card-img-chef" src="{% static 'images/chef-2.jpg' %}">
                        <div class="card-body">
                            <h3>No Name</h3>
                            <span class="position mb-2">Head Chef</span>
                            <p>I donno, I'll think about it in the end till then read something better folks. peace out!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <div class="card" style="width: 16rem;">
                        <img alt="" class="card-img-chef" src="{% static 'images/chef-3.jpg' %}">
                        <div class="card-body">
                            <h3>No Name</h3>
                            <span class="position mb-2">Level 3 Chef</span>
                            <p>I donno, I'll think about it in the end till then read something better folks. peace out!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <div class="card" style="width: 16rem;">
                        <img alt="" class="card-img-chef" src="{% static 'images/chef-4.jpg' %}">
                        <div class="card-body">
                            <h3>No Name</h3>
                            <span class="position mb-2">Level 3 Chef</span>
                            <p>I donno, I'll think about it in the end till then read something better folks. peace out!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>